[Desktop Entry]
Name=Syltr
GenericName=Messaging Aggregator
Comment=Reúna WhatsApp, Telegram, Slack, Discord e outros num só app
Exec=syltr
Icon=dev.syltr.Syltr
Terminal=false
Type=Application
Categories=Network;InstantMessaging;GTK;
Keywords=messaging;chat;whatsapp;telegram;slack;discord;franz;
StartupNotify=true
